<div id="recipes">
  <% @recipes.each do |recipe| %>

    <div class="border border-5 d-flex p-2 my-3">
      <div class="w-25 d-flex flex-column align-items-center justify-content-center ">
        <%= link_to recipe do %>
        <p class="text-center fw-bold fs-2"><%= recipe.name %></p>
        <% end %>
        <%= button_to "Delete", recipe, method: :delete, class: 'btn btn-danger' %>
      </div>
      <div class="w-75">
        <%= link_to recipe do %>
        <p><%= recipe.description %></p>
        <% end %>
      </div>
    </div>
    <% end %>

</div>

<%= link_to "New recipe", new_recipe_path , class: 'btn btn-primary' %>
